API_ID=21179636 # get this  value from my.telegram.org
API_HASH=99f4d45f70e823e20fb726135e67ee9e # get this value from my.telegram.org
BOT_TOKEN=5810441203:AAFBbLPDK8n98vBiLKW0sDbzkywfkvVcwwQ # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Ritik:Ritikraj@ritikraj.cciyuco.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001987232453 # get this value from in your log group 
MUSIC_BOT_NAME=yummi  # your music bot name 
STRING_SESSION=BQCcPYIk4hyVOeyEf32naUJAkgfN_Uo9VK8P0mc833N2xdBa92CEAzveLM1HmockH1bVwrfJy5_i2c9AH-p-GHGJBOKs-dP0w71rwHmVZ8giou507Bj6YFYi8FK0uwfU_eY4ab2B_6Gaf00CHcVnwsTGkjsPg37Aci0ylqPaiOD17tpohuhAQyP_rQONZjwXj-u2fG3LQn1M5v00SKPgSu7Vv9IczBp9qVBBzMDR-yZze1D5i_mn930cSrbTdGALYeYzZEFajB4Zw5V9bWeIHKxXQc62lq7jKGOq88OctNo-qQiawsK5G5bEQW6gqZKGDy0wNQP30JXUNAOS0cKvzwHJAAAAAWjUbuYA # get this value from @yukkistringbot
SUPPORT_GROUP=https://t.me/YummiSupport # group
SUPPORT_CHANNEL=https://t.me/YummiUpdeted # channel
START_IMG_URL=https://graph.org/file/11d2c7afb6021d0ff03bd.jpg # imj 
OWNER_ID=6144169047 #
