API_ID=20838231 # get this  value from my.telegram.org
API_HASH=78d4b5a9139c738ec8bea6631640d085 # get this value from my.telegram.org
BOT_TOKEN=6118906484:AAFRG1MWJf33jm-is-OZZSk9wVTmuVu7SZg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Ritik:Ritikraj@ritikraj.cciyuco.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001987232453 # get this value from in your log group 
MUSIC_BOT_NAME=yummi  # your music bot name 
STRING_SESSION=BQAI2bBtfaH1Z-75AL8DubdWMkDihYo2mR_GLJm3cYYDFuFmBPsdNysOtdpC9cxws8fqo6GmXaUDLjtfINPYd6-oSzsMajWj8vXB1k0EPaEGn7CI3wY2GNpsQgTmRDMjHfgjaOVXqu_e9rKiXraNOez7WkiqE8xRF53bU1O4-GJS_yxpCMnhNeUo-8dp6JYR3_UTAPwyRTDOE2bYfDqq-igPlC3LfmLWZH74WEq8t9Jyg-lv1_9mz73KGADUzH5vMUvdfjMmCQAX0XLvDypJipsRXGB_k8MzPvSKbsstf1IRb9Lv9iJr_wlhx8_EptAmuqYT5pkBmqYyZ6AaZxhb5_j4AAAAAVCmqNIA # get this value from @yukkistringbot
SUPPORT_GROUP=https://t.me/Yummi_supporter # group
SUPPORT_CHANNEL=https://t.me/Yummi_updater # channel
START_IMG_URL=https://te.legra.ph/file/dc0ccd6239f53b10d93e0.jpg # imj 
OWNER_ID=6144169047 #
